.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fdfdfd;
}

a {
  color: #000;
  text-decoration: none;
}

.bookmark-list {
  display: flex;
  flex-wrap: wrap;
}

.button {
  color: black;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(187, 216, 255, 0.4);
  outline: 0;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(187, 216, 255, 0.6);
}

.button-primary {
  color: white;
  padding: 8px;
  border-radius: 4px;
  background-color: rgb(15, 91, 190);
  outline: 0;
  border: 0;
  cursor: pointer;
  margin-left: 12px;
}

.button-primary:hover {
  background-color: rgb(15, 91, 190, 0.8);
}
